<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.filter.EncodingFilter</filter-class><!--全路径 从根包开始一直到类名 -->
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern> <!--*即为过滤所有 -->
	</filter-mapping>
	<servlet>
		<servlet-name>Search</servlet-name>
		<display-name>Search</display-name>
		<description></description>
		<servlet-class>com.servlet.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Details</servlet-name>
		<display-name>Details</display-name>
		<description></description>
		<servlet-class>com.servlet.Details</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Details</servlet-name>
		<url-pattern>/Details</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>search.jsp</welcome-file>
	</welcome-file-list>
</web-app>
